<h2>Client List</h2>
<a href="/add-client">Ajouter un nouveau client </a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id </th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let client of clientData">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.tel}}</td>
            <td>{{client.email}}</td>
            <td>
                <button class ="btn btn-info">update </button>
            </td>
            <td>
                <button class ="btn btn-danger">delete </button>
            </td>
        </tr>
    </tbody>
</table>